# build.yml Build pipeline to build Microsoft's build of OpenJDK docker images. When running the pipeline
# replace "image-repository" value with the location of your docker images (e.g. hub.docker.io/...)
# replace the image tags as needed.

name: "$(Year:yyyy).$(Month).$(BuildID)"

trigger:
  batch: true
  branches:
    include:
      - main
  paths:
    exclude:
      - .devops
      - .github/workflows
pr: none

parameters:
  - name: organization
    type: string
  - name: feed
    type: string
  - name: az_package
    type: string
    displayName: "Oras package name"
  - name: jobs
    type: object
    default:
      azurelinux_8:
        new_LTS_image: false
        distro: azurelinux
        version: 8
        package: temurin-8
        image: "image-repository"
        tag: "3.0"
      distroless_8:
        new_LTS_image: false
        distro: distroless
        version: 8
        package: temurin-8
        installer_image: "image-repository"
        installer_tag: "3.0"
        base_image: "image-repository"
        base_tag: "3.0"
      ubuntu_11:
        new_LTS_image: false
        distro: ubuntu
        version: 11
        package: msopenjdk-11
        image: "image-repository"
        tag: "image-tag"
      azurelinux_11:
        new_LTS_image: false
        distro: azurelinux
        version: 11
        package: msopenjdk-11
        image: "image-repository"
        tag: "3.0"
      distroless_11:
        new_LTS_image: false
        distro: distroless
        version: 11
        package: msopenjdk-11
        installer_image: "image-repository"
        installer_tag: "3.0"
        base_image: "image-repository"
        base_tag: "3.0"
      ubuntu_17:
        new_LTS_image: false
        distro: ubuntu
        version: 17
        package: msopenjdk-17
        image: "image-repository"
        tag: "image-tag"
      azurelinux_17:
        new_LTS_image: false
        distro: azurelinux
        version: 17
        package: msopenjdk-17
        image: "image-repository"
        tag: "3.0"
      distroless_17:
        new_LTS_image: false
        distro: distroless
        version: 17
        package: msopenjdk-17
        installer_image: "image-repository"
        installer_tag: "3.0"
        base_image: "image-repository"
        base_tag: "3.0"
      ubuntu_21:
        new_LTS_image: false
        distro: ubuntu
        version: 21
        package: msopenjdk-21
        image: "image-repository"
        tag: "image-tag"
      azurelinux_21:
        new_LTS_image: false
        distro: azurelinux
        version: 21
        package: msopenjdk-21
        image: "image-repository"
        tag: "3.0"
      distroless_21:
        new_LTS_image: false
        distro: distroless
        version: 21
        package: msopenjdk-21
        installer_image: "image-repository"
        installer_tag: "3.0"
        base_image: "image-repository"
        base_tag: "3.0"

resources:
  repositories:
    - repository: 1ESPipelineTemplates
      type: git
      name: 1ESPipelineTemplates/1ESPipelineTemplates
      ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    sdl:
      sourceAnalysisPool:
        name: JEG-windows2022-x64-release
        os: windows
    stages:
      - stage: build_internal
        displayName: "Build Internal"
        variables:
          ACR_NAME: msopenjdk
        jobs:
          - job: build_internal
            displayName: "build internal"
            pool:
              name: JEG-azurelinux-x64-release
              os: linux
            strategy:
              matrix: ${{ parameters.jobs }}
            steps:
              - template: /.devops/templates/annotate-image.yml@self
                parameters:
                  registry: $(INTERNAL_ACR_REGISTRY)
                  tag: $(version)-$(distro)
                  organization: ${{ parameters.organization }}
                  feed: ${{ parameters.feed }}
                  package: ${{ parameters.az_package }}

              - bash: |
                  REGISTRIES=$(INTERNAL_ACR_REGISTRY):$(version)-$(distro)
                  if [[ "$(distro)" == "azurelinux" ]]; then
                    REGISTRIES+=";$(INTERNAL_ACR_REGISTRY):$(version)-mariner"
                  fi
                  echo "##vso[task.setvariable variable=REGISTRIES]$REGISTRIES"
                displayName: Set REGISTRIES variable

              - task: AzureCLI@2
                inputs:
                  azureSubscription: "JEG-Infrastructure"
                  scriptType: "bash"
                  scriptLocation: "scriptPath"
                  scriptPath: $(Build.SourcesDirectory)/scripts/build-image.sh
                displayName: build image
                env:
                  REGISTRY_TAGS: $(REGISTRIES)
                  IMAGE: $(image)
                  TAG: $(tag)
                  PACKAGE: $(package)
                  DISTRIBUTION: $(distro)
                  INSTALLER_IMAGE: $(installer_image)
                  INSTALLER_TAG: $(installer_tag)

      # - stage: validate_and_publish
      #   displayName: "Validate & Publish"
      #   dependsOn: build_internal
      #   jobs:
      #     - job: wait_for_validation
      #       displayName: wait for validation
      #       pool: server
      #       steps:
      #         - task: ManualValidation@0
      #           # 3 days
      #           timeoutInMinutes: 4320
      #           inputs:
      #             instructions: "please validate the build configuration, artifacts, tests, and resume"
      #             onTimeout: "resume"

      #         - template: /.devops/annotate-image.yml@self
      #           parameters:
      #             registry: $(ACR_REGISTRY)
      #             tag: $(version)-$(distro)
      #             organization: ${{ parameters.organization }}
      #             feed: ${{ parameters.feed }}
      #             package: ${{ parameters.az_package }}

      #         - ${{ if eq("$(distro)", "azurelinux") }}:
      #           - template: /.devops/annotate-image.yml@self
      #             parameters:
      #               registry: $(ACR_REGISTRY)
      #               tag: $(version)-mariner
      #               organization: ${{ parameters.organization }}
      #               feed: ${{ parameters.feed }}
      #               package: ${{ parameters.az_package }}

      #     - job: build_public
      #       displayName: "build public "
      #       dependsOn: wait_for_validation
      #       pool:
      #         name: JEG-azurelinux-x64-release
      #         os: linux
      #       strategy:
      #         matrix: ${{ parameters.jobs }}
      #       steps:
      #         - bash: |
      #             REGISTRIES=$(ACR_REGISTRY):$(version)-$(distro)
      #             TAGS="$(version)-$(distro)"

      #             if [[ "$(distro)" == "azurelinux" ]]; then
      #               REGISTRIES+=";$(ACR_REGISTRY):$(version)-mariner"
      #             fi

      #             echo "##vso[task.setvariable variable=REGISTRIES]$REGISTRIES"
      #             echo "##vso[task.setvariable variable=TAGS]$TAGS"
      #           displayName: Set environment variables

      #         - task: AzureCLI@2
      #           inputs:
      #             azureSubscription: "JEG-Infrastructure"
      #             scriptType: "bash"
      #             scriptLocation: "scriptPath"
      #             scriptPath: scripts/build-image.sh
      #           displayName: Build image
      #           env:
      #             REGISTRY_TAGS: $(REGISTRIES)
      #             IMAGE: $(image)
      #             TAG: $(tag)
      #             PACKAGE: $(package)
      #             DISTRIBUTION: $(distro)
      #             INSTALLER_IMAGE: $(installer_image)
      #             INSTALLER_TAG: $(installer_tag)

      #         - task: AzureCLI@2
      #           displayName: Trigger image signing
      #           env:
      #             AZURE_DEVOPS_EXT_PAT: $(System.AccessToken)
      #           inputs:
      #             azureSubscription: "JEG-Infrastructure"
      #             scriptType: "bash"
      #             scriptLocation: "inlineScript"
      #             inlineScript: |
      #               az pipelines run \
      #                 --branch main \
      #                 --org ${{ parameters.organization }} \
      #                 --project $(OPENJDK_PROJECT) \
      #                 --id $(OPENJDK_SIGNING_ID) \
      #                 --parameters openjdk_tags="[$(TAGS)]" \
      #                   image_registry="$(ACR_REGISTRY)" \
      #                   image_name="jdk"
