# build.yml Build pipeline to build Microsoft's build of OpenJDK docker images. When running the pipeline
# replace "image-repository" value with the location of your docker images (e.g. hub.docker.io/...)
# replace the image tags as needed.

name: "$(Year:yyyy).$(Month).$(BuildID)"

trigger:
  batch: true
  branches:
    include:
      - main
  paths:
    exclude:
      - .devops
      - .github/workflows

pr: none

parameters:
  - name: organization
    type: string
  - name: feed
    type: string
  - name: az_package
    type: string
    displayName: "Oras package name"
  - name: dryrun
    displayName: "Execute a dry run?"
    type: boolean
    default: false
  - name: jobs
    type: object
    default:
      azurelinux_8:
        hasExistingImages: true
        distro: azurelinux
        version: 8
        package: temurin-8
        image: "image-repository"
        tag: "3.0"
      distroless_11:
        hasExistingImages: true
        distro: distroless
        version: 11
        package: msopenjdk-11
        installer_image: "image-repository"
        installer_tag: "3.0"
        base_image: "image-repository"
        base_tag: "3.0"
      ubuntu_17:
        hasExistingImages: true
        distro: ubuntu
        version: 17
        package: msopenjdk-17
        image: "image-repository"
        tag: "image-tag"
      azurelinux_21:
        hasExistingImages: true
        distro: azurelinux
        version: 21
        package: msopenjdk-21
        image: "image-repository"
        tag: "3.0"

resources:
  repositories:
    - repository: 1ESPipelineTemplates
      type: git
      name: 1ESPipelineTemplates/1ESPipelineTemplates
      ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    sdl:
      sourceAnalysisPool:
        name: JEG-windows2022-x64-release
        os: windows
    stages:
      - stage: build_internal
        displayName: Build Internal
        variables:
          ACR_NAME: msopenjdk
        jobs:
          - job: build_internal
            pool:
              name: JEG-azurelinux-x64-release
              os: linux
            strategy:
              matrix: ${{ parameters.jobs }}
            steps:
              - template: /.devops/templates/prepare-annotation.yml@self
                parameters:
                  registry: $(INTERNAL_ACR_REGISTRY)
                  tag: $(version)-$(distro)

              - bash: |
                  REGISTRIES=$(INTERNAL_ACR_REGISTRY):$(version)-$(distro)
                  if [[ "$(distro)" == "azurelinux" ]]; then
                    REGISTRIES+=";$(INTERNAL_ACR_REGISTRY):$(version)-mariner"
                  fi
                  echo "##vso[task.setvariable variable=REGISTRIES]$REGISTRIES"
                displayName: Set REGISTRIES variable

              - task: AzureCLI@2
                retryCountOnTaskFailure: 2
                inputs:
                  azureSubscription: "JEG-Infrastructure"
                  scriptType: "bash"
                  scriptLocation: "scriptPath"
                  scriptPath: $(Build.SourcesDirectory)/scripts/build-image.sh
                  ${{ if eq(parameters.dryrun, true) }}:
                    arguments: >
                      --image             $(image)
                      --tag               $(tag)
                      --package           $(package)
                      --distribution      $(distro)
                      --registries        $(REGISTRIES)
                      --installer-image   $(installer_image)
                      --installer-tag     $(installer_tag)
                      --base-image        $(base_image)
                      --base-tag          $(base_tag)
                      --dryrun
                  ${{ else }}:
                    arguments: >
                      --image             $(image)
                      --tag               $(tag)
                      --package           $(package)
                      --distribution      $(distro)
                      --registries        $(REGISTRIES)
                      --installer-image   $(installer_image)
                      --installer-tag     $(installer_tag)
                      --base-image        $(base_image)
                      --base-tag          $(base_tag)
                displayName: build container image

              - template: /.devops/templates/annotate-image.yml@self
                parameters:
                  registry: $(INTERNAL_ACR_REGISTRY)
                  organization: ${{ parameters.organization }}
                  feed: ${{ parameters.feed }}
                  package: ${{ parameters.az_package }}
                  dryrun: ${{ parameters.dryrun }}


      - stage: validate_and_publish
        displayName: "Validate & Publish"
        dependsOn: build_internal
        jobs:

          - job: wait_for_validation
            displayName: wait for validation
            pool: server
            steps:
              - task: ManualValidation@0
                timeoutInMinutes: 4320 # Three days
                inputs:
                  instructions: "please validate the build configuration, artifacts, tests, and resume"
                  onTimeout: "resume"

          - job: build_public
            dependsOn: wait_for_validation
            pool:
              name: JEG-azurelinux-x64-release
              os: linux
            strategy:
              matrix: ${{ parameters.jobs }}
            variables:
              ACR_NAME: msopenjdk
            steps:
              - template: /.devops/templates/prepare-annotation.yml@self
                parameters:
                  registry: $(ACR_REGISTRY)
                  tag: $(version)-$(distro)

              - bash: |
                  REGISTRIES=$(ACR_REGISTRY):$(version)-$(distro)
                  if [[ "$(distro)" == "azurelinux" ]]; then
                    REGISTRIES+=";$(ACR_REGISTRY):$(version)-mariner"
                  fi
                  echo "##vso[task.setvariable variable=REGISTRIES]$REGISTRIES"
                displayName: Set REGISTRIES variable

              - task: AzureCLI@2
                retryCountOnTaskFailure: 2
                inputs:
                  azureSubscription: "JEG-Infrastructure"
                  scriptType: "bash"
                  scriptLocation: "scriptPath"
                  scriptPath: $(Build.SourcesDirectory)/scripts/build-image.sh
                  ${{ if eq(parameters.dryrun, true) }}:
                    arguments: >
                      --image             $(image)
                      --tag               $(tag)
                      --package           $(package)
                      --distribution      $(distro)
                      --registries        $(REGISTRIES)
                      --installer-image   $(installer_image)
                      --installer-tag     $(installer_tag)
                      --base-image        $(base_image)
                      --base-tag          $(base_tag)
                      --dryrun
                  ${{ else }}:
                    arguments: >
                      --image             $(image)
                      --tag               $(tag)
                      --package           $(package)
                      --distribution      $(distro)
                      --registries        $(REGISTRIES)
                      --installer-image   $(installer_image)
                      --installer-tag     $(installer_tag)
                      --base-image        $(base_image)
                      --base-tag          $(base_tag)
                displayName: build container image

              - template: /.devops/templates/annotate-image.yml@self
                parameters:
                  registry: $(ACR_REGISTRY)
                  organization: ${{ parameters.organization }}
                  feed: ${{ parameters.feed }}
                  package: ${{ parameters.az_package }}
                  dryrun: ${{ parameters.dryrun }}

              - bash: |
                  short_digest=$(echo "$(containerImageDigest)" | cut -c1-15)
                  echo "##vso[build.addbuildtag]$short_digest"
                displayName: Add build tag from image digest
                condition: ne(${{ parameters.dryrun }}, true)

              - ${{ if ne(parameters.dryrun, true) }}:
                - task: AzureCLI@2
                  displayName: Trigger signing
                  env:
                    AZURE_DEVOPS_EXT_PAT: $(System.AccessToken)
                  inputs:
                    azureSubscription: "JEG-Infrastructure"
                    scriptType: "bash"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      az pipelines run \
                        --branch main \
                        --org ${{ parameters.organization }} \
                        --project $(OPENJDK_PROJECT) \
                        --id $(OPENJDK_SIGNING_ID) \
                        --parameters registry="$(ACR_REGISTRY)" \
                          reference="$(containerImageDigest)" \
                          reference_type="container_digest"