name: Check Expected Versions

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate_temurin:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distros: [ "azurelinux", "distroless" ]
        jdkvendor: [ "temurin" ]
        jdkversion: [ { major: "8", expected: "1.8.0_462" } ]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Build image locally
        run: |
          docker build \
            -t mcr.microsoft.com/openjdk/jdk:${{ matrix.jdkversion.major }}-${{ matrix.distros }} \
            -f ./docker/${{ matrix.distros }}/Dockerfile.${{ matrix.jdkvendor }}-${{ matrix.jdkversion.major }}-jdk \
            ./docker

      - name: Validate container image
        run: |
          ./scripts/validate-image.sh \
            -s ${{ matrix.distros }} \
            ${{ matrix.jdkvendor }} \
            ${{ matrix.jdkversion.major }} \
            ${{ matrix.jdkversion.expected }}

  validate_msopenjdk:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distros: [ "azurelinux", "distroless", "ubuntu", "ubuntu-chisel" ]
        jdkvendor: [ "msopenjdk" ]
        jdkversion: [ { major: "11", expected: "11.0.28" }, { major: "17", expected: "17.0.16" }, { major: "21", expected: "21.0.8" }, { major: "25", expected: "25.0.0" }]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Build image locally
        run: |
          docker build \
            -t mcr.microsoft.com/openjdk/jdk:${{ matrix.jdkversion.major }}-${{ matrix.distros }} \
            -f ./docker/${{ matrix.distros }}/Dockerfile.${{ matrix.jdkvendor }}-${{ matrix.jdkversion.major }}-jdk \
            ./docker

      - name: Validate container image
        run: |
          ./scripts/validate-image.sh \
            -s ${{ matrix.distros }} \
            ${{ matrix.jdkvendor }} \
            ${{ matrix.jdkversion.major }} \
            ${{ matrix.jdkversion.expected }}
