name: Validate Published Images

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate_temurin:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distros: ["azurelinux", "distroless"]
        jdkvendor: ["temurin"]
        jdkversion: [{ major: "8", expected: "1.8.0_462" }]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Validate container images
        run: |
          ./scripts/validate-image.sh \
            ${{ matrix.distros }} \
            ${{ matrix.jdkvendor }} \
            ${{ matrix.jdkversion.major }} \
            ${{ matrix.jdkversion.expected }}

  validate_msopenjdk:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distros: ["azurelinux", "distroless", "ubuntu"]
        jdkvendor: ["msopenjdk"]
        jdkversion:
          [
            { major: "11", expected: "11.0.30" },
            { major: "17", expected: "17.0.18" },
            { major: "21", expected: "21.0.10" },
            { major: "25", expected: "25.0.2" }
          ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Validate container images
        run: |
          ./scripts/validate-image.sh \
            ${{ matrix.distros }} \
            ${{ matrix.jdkvendor }} \
            ${{ matrix.jdkversion.major }} \
            ${{ matrix.jdkversion.expected }}

  validate_msopenjdk_aarch64:
    runs-on: ["self-hosted", "1ES.Pool=JEG-linux-arm64-openjdk-docker"]
    strategy:
      fail-fast: false
      matrix:
        distros: ["azurelinux", "distroless", "ubuntu"]
        jdkvendor: ["msopenjdk"]
        jdkversion:
          [
            { major: "11", expected: "11.0.30" },
            { major: "17", expected: "17.0.18" },
            { major: "21", expected: "21.0.10" },
            { major: "25", expected: "25.0.2" }
          ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Validate container images
        run: |
          ./scripts/validate-image.sh \
            ${{ matrix.distros }} \
            ${{ matrix.jdkvendor }} \
            ${{ matrix.jdkversion.major }} \
            ${{ matrix.jdkversion.expected }}
