name: Validate Published Images

on:
  workflow_dispatch:

jobs:

  validate_temurin:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distros: [ "mariner", "distroless" ]
        jdkvendor: [ "temurin" ]
        jdkversion: [ { major: "8", expected: "1.8.0_332" } ]
    steps:
      - uses: actions/checkout@v2

      - name: Validate container images
        run: |
          ./validate-image.sh ${{ matrix.distros }} ${{ matrix.jdkvendor }} ${{ matrix.jdkversion.major }} ${{ matrix.jdkversion.expected }} 

  validate_msopenjdk:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distros: [ "mariner", "distroless", "mariner-cm1", "ubuntu" ]
        jdkvendor: [ "msopenjdk" ]
        jdkversion: [ { major: "11", expected: "11.0.15" }, { major: "17", expected: "17.0.3" } ]
    steps:
      - uses: actions/checkout@v2

      - name: Validate container images
        run: |
          ./validate-image.sh ${{ matrix.distros }} ${{ matrix.jdkvendor }} ${{ matrix.jdkversion.major }} ${{ matrix.jdkversion.expected }} 
