name: Validate Published Images

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate_temurin:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distros: ["mariner", "distroless"]
        jdkvendor: ["temurin"]
        jdkversion: [{ major: "8", expected: "1.8.0_422" }]
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Validate container images
        run: |
          ./scripts/validate-image.sh \
            ${{ matrix.distros }} \
            ${{ matrix.jdkvendor }} \
            ${{ matrix.jdkversion.major }} \
            ${{ matrix.jdkversion.expected }}

  validate_msopenjdk:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distros: ["mariner", "distroless", "ubuntu"]
        jdkvendor: ["msopenjdk"]
        jdkversion:
          [
            { major: "11", expected: "11.0.25" },
            { major: "17", expected: "17.0.13" },
            { major: "21", expected: "21.0.5" },
          ]
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Validate container images
        run: |
          ./scripts/validate-image.sh \
            ${{ matrix.distros }} \
            ${{ matrix.jdkvendor }} \
            ${{ matrix.jdkversion.major }} \
            ${{ matrix.jdkversion.expected }}

  validate_msopenjdk_aarch64:
    runs-on: ["self-hosted", "1ES.Pool=JEG-linux-arm64-openjdk-docker"]
    strategy:
      fail-fast: false
      matrix:
        distros: ["mariner", "distroless", "ubuntu"]
        jdkvendor: ["msopenjdk"]
        jdkversion:
          [
            { major: "11", expected: "11.0.24" },
            { major: "17", expected: "17.0.12" },
            { major: "21", expected: "21.0.4" },
          ]
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Validate container images
        run: |
          ./scripts/validate-image.sh \
            ${{ matrix.distros }} \
            ${{ matrix.jdkvendor }} \
            ${{ matrix.jdkversion.major }} \
            ${{ matrix.jdkversion.expected }}
